ui-tienda/src/conf/xml-resources/web-service-references/DetalleOrdenServiceImpl/wsdl/localhost_9090/DetalleOrdenServiceImplService/DetalleOrdenServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="DetalleOrdenServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:9090/DetalleOrdenServiceImplService/DetalleOrdenServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarDetalleOrdenId">
<part name="parameters" element="tns:buscarDetalleOrdenId"/>
</message>
<message name="buscarDetalleOrdenIdResponse">
<part name="parameters" element="tns:buscarDetalleOrdenIdResponse"/>
</message>
<message name="AgregarDetalleOrden">
<part name="parameters" element="tns:AgregarDetalleOrden"/>
</message>
<message name="AgregarDetalleOrdenResponse">
<part name="parameters" element="tns:AgregarDetalleOrdenResponse"/>
</message>
<message name="ModificarDetalleOrden">
<part name="parameters" element="tns:ModificarDetalleOrden"/>
</message>
<message name="ModificarDetalleOrdenResponse">
<part name="parameters" element="tns:ModificarDetalleOrdenResponse"/>
</message>
<message name="eliminarDetalleOrden">
<part name="parameters" element="tns:eliminarDetalleOrden"/>
</message>
<message name="eliminarDetalleOrdenResponse">
<part name="parameters" element="tns:eliminarDetalleOrdenResponse"/>
</message>
<message name="listaDetalleOrden">
<part name="parameters" element="tns:listaDetalleOrden"/>
</message>
<message name="listaDetalleOrdenResponse">
<part name="parameters" element="tns:listaDetalleOrdenResponse"/>
</message>
<portType name="DetalleOrdenServiceWs">
<operation name="buscarDetalleOrdenId">
<input wsam:Action="http://servicios/DetalleOrdenServiceWs/buscarDetalleOrdenIdRequest" message="tns:buscarDetalleOrdenId"/>
<output wsam:Action="http://servicios/DetalleOrdenServiceWs/buscarDetalleOrdenIdResponse" message="tns:buscarDetalleOrdenIdResponse"/>
</operation>
<operation name="AgregarDetalleOrden">
<input wsam:Action="http://servicios/DetalleOrdenServiceWs/AgregarDetalleOrdenRequest" message="tns:AgregarDetalleOrden"/>
<output wsam:Action="http://servicios/DetalleOrdenServiceWs/AgregarDetalleOrdenResponse" message="tns:AgregarDetalleOrdenResponse"/>
</operation>
<operation name="ModificarDetalleOrden">
<input wsam:Action="http://servicios/DetalleOrdenServiceWs/ModificarDetalleOrdenRequest" message="tns:ModificarDetalleOrden"/>
<output wsam:Action="http://servicios/DetalleOrdenServiceWs/ModificarDetalleOrdenResponse" message="tns:ModificarDetalleOrdenResponse"/>
</operation>
<operation name="eliminarDetalleOrden">
<input wsam:Action="http://servicios/DetalleOrdenServiceWs/eliminarDetalleOrdenRequest" message="tns:eliminarDetalleOrden"/>
<output wsam:Action="http://servicios/DetalleOrdenServiceWs/eliminarDetalleOrdenResponse" message="tns:eliminarDetalleOrdenResponse"/>
</operation>
<operation name="listaDetalleOrden">
<input wsam:Action="http://servicios/DetalleOrdenServiceWs/listaDetalleOrdenRequest" message="tns:listaDetalleOrden"/>
<output wsam:Action="http://servicios/DetalleOrdenServiceWs/listaDetalleOrdenResponse" message="tns:listaDetalleOrdenResponse"/>
</operation>
</portType>
<binding name="DetalleOrdenServiceImplPortBinding" type="tns:DetalleOrdenServiceWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarDetalleOrdenId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarDetalleOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarDetalleOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetalleOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaDetalleOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DetalleOrdenServiceImplService">
<port name="DetalleOrdenServiceImplPort" binding="tns:DetalleOrdenServiceImplPortBinding">
<soap:address location="http://localhost:9090/DetalleOrdenServiceImplService/DetalleOrdenServiceImpl"/>
</port>
</service>
</definitions>