ui-tienda/src/conf/xml-resources/web-service-references/ProductoServiceImpl/wsdl/localhost_9090/ProductoServiceImplService/ProductoServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ProductoServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:9090/ProductoServiceImplService/ProductoServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="encontrarProductoId">
<part name="parameters" element="tns:encontrarProductoId"/>
</message>
<message name="encontrarProductoIdResponse">
<part name="parameters" element="tns:encontrarProductoIdResponse"/>
</message>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto"/>
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse"/>
</message>
<message name="listaProductos">
<part name="parameters" element="tns:listaProductos"/>
</message>
<message name="listaProductosResponse">
<part name="parameters" element="tns:listaProductosResponse"/>
</message>
<message name="agregarProducto">
<part name="parameters" element="tns:agregarProducto"/>
</message>
<message name="agregarProductoResponse">
<part name="parameters" element="tns:agregarProductoResponse"/>
</message>
<message name="eliminarProducto">
<part name="parameters" element="tns:eliminarProducto"/>
</message>
<message name="eliminarProductoResponse">
<part name="parameters" element="tns:eliminarProductoResponse"/>
</message>
<portType name="ProductoServiceWs">
<operation name="encontrarProductoId">
<input wsam:Action="http://servicios/ProductoServiceWs/encontrarProductoIdRequest" message="tns:encontrarProductoId"/>
<output wsam:Action="http://servicios/ProductoServiceWs/encontrarProductoIdResponse" message="tns:encontrarProductoIdResponse"/>
</operation>
<operation name="modificarProducto">
<input wsam:Action="http://servicios/ProductoServiceWs/modificarProductoRequest" message="tns:modificarProducto"/>
<output wsam:Action="http://servicios/ProductoServiceWs/modificarProductoResponse" message="tns:modificarProductoResponse"/>
</operation>
<operation name="listaProductos">
<input wsam:Action="http://servicios/ProductoServiceWs/listaProductosRequest" message="tns:listaProductos"/>
<output wsam:Action="http://servicios/ProductoServiceWs/listaProductosResponse" message="tns:listaProductosResponse"/>
</operation>
<operation name="agregarProducto">
<input wsam:Action="http://servicios/ProductoServiceWs/agregarProductoRequest" message="tns:agregarProducto"/>
<output wsam:Action="http://servicios/ProductoServiceWs/agregarProductoResponse" message="tns:agregarProductoResponse"/>
</operation>
<operation name="eliminarProducto">
<input wsam:Action="http://servicios/ProductoServiceWs/eliminarProductoRequest" message="tns:eliminarProducto"/>
<output wsam:Action="http://servicios/ProductoServiceWs/eliminarProductoResponse" message="tns:eliminarProductoResponse"/>
</operation>
</portType>
<binding name="ProductoServiceImplPortBinding" type="tns:ProductoServiceWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encontrarProductoId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoServiceImplService">
<port name="ProductoServiceImplPort" binding="tns:ProductoServiceImplPortBinding">
<soap:address location="http://localhost:9090/ProductoServiceImplService/ProductoServiceImpl"/>
</port>
</service>
</definitions>