ui-tienda/src/conf/xml-resources/web-service-references/OrdenServiceImpl_1/wsdl/localhost_9090/OrdenServiceImplService/OrdenServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="OrdenServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:9090/OrdenServiceImplService/OrdenServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="listaOrden">
<part name="parameters" element="tns:listaOrden"/>
</message>
<message name="listaOrdenResponse">
<part name="parameters" element="tns:listaOrdenResponse"/>
</message>
<message name="encontrarOrdenId">
<part name="parameters" element="tns:encontrarOrdenId"/>
</message>
<message name="encontrarOrdenIdResponse">
<part name="parameters" element="tns:encontrarOrdenIdResponse"/>
</message>
<message name="agregarOrden">
<part name="parameters" element="tns:agregarOrden"/>
</message>
<message name="agregarOrdenResponse">
<part name="parameters" element="tns:agregarOrdenResponse"/>
</message>
<message name="modificarOrden">
<part name="parameters" element="tns:modificarOrden"/>
</message>
<message name="modificarOrdenResponse">
<part name="parameters" element="tns:modificarOrdenResponse"/>
</message>
<message name="eliminarOrden">
<part name="parameters" element="tns:eliminarOrden"/>
</message>
<message name="eliminarOrdenResponse">
<part name="parameters" element="tns:eliminarOrdenResponse"/>
</message>
<portType name="OrdenServiceWs">
<operation name="listaOrden">
<input wsam:Action="http://servicios/OrdenServiceWs/listaOrdenRequest" message="tns:listaOrden"/>
<output wsam:Action="http://servicios/OrdenServiceWs/listaOrdenResponse" message="tns:listaOrdenResponse"/>
</operation>
<operation name="encontrarOrdenId">
<input wsam:Action="http://servicios/OrdenServiceWs/encontrarOrdenIdRequest" message="tns:encontrarOrdenId"/>
<output wsam:Action="http://servicios/OrdenServiceWs/encontrarOrdenIdResponse" message="tns:encontrarOrdenIdResponse"/>
</operation>
<operation name="agregarOrden">
<input wsam:Action="http://servicios/OrdenServiceWs/agregarOrdenRequest" message="tns:agregarOrden"/>
<output wsam:Action="http://servicios/OrdenServiceWs/agregarOrdenResponse" message="tns:agregarOrdenResponse"/>
</operation>
<operation name="modificarOrden">
<input wsam:Action="http://servicios/OrdenServiceWs/modificarOrdenRequest" message="tns:modificarOrden"/>
<output wsam:Action="http://servicios/OrdenServiceWs/modificarOrdenResponse" message="tns:modificarOrdenResponse"/>
</operation>
<operation name="eliminarOrden">
<input wsam:Action="http://servicios/OrdenServiceWs/eliminarOrdenRequest" message="tns:eliminarOrden"/>
<output wsam:Action="http://servicios/OrdenServiceWs/eliminarOrdenResponse" message="tns:eliminarOrdenResponse"/>
</operation>
</portType>
<binding name="OrdenServiceImplPortBinding" type="tns:OrdenServiceWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarOrdenId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdenServiceImplService">
<port name="OrdenServiceImplPort" binding="tns:OrdenServiceImplPortBinding">
<soap:address location="http://localhost:9090/OrdenServiceImplService/OrdenServiceImpl"/>
</port>
</service>
</definitions>