ui-tienda/web/WEB-INF/wsdl/localhost_9090/ClienteServiceImplService/ClienteServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ClienteServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:9090/ClienteServiceImplService/ClienteServiceImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="encontrarClienteId">
<part name="parameters" element="tns:encontrarClienteId"/>
</message>
<message name="encontrarClienteIdResponse">
<part name="parameters" element="tns:encontrarClienteIdResponse"/>
</message>
<message name="listaClientes">
<part name="parameters" element="tns:listaClientes"/>
</message>
<message name="listaClientesResponse">
<part name="parameters" element="tns:listaClientesResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"/>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"/>
</message>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente"/>
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse"/>
</message>
<portType name="ClienteServiceWs">
<operation name="encontrarClienteId">
<input wsam:Action="http://servicios/ClienteServiceWs/encontrarClienteIdRequest" message="tns:encontrarClienteId"/>
<output wsam:Action="http://servicios/ClienteServiceWs/encontrarClienteIdResponse" message="tns:encontrarClienteIdResponse"/>
</operation>
<operation name="listaClientes">
<input wsam:Action="http://servicios/ClienteServiceWs/listaClientesRequest" message="tns:listaClientes"/>
<output wsam:Action="http://servicios/ClienteServiceWs/listaClientesResponse" message="tns:listaClientesResponse"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://servicios/ClienteServiceWs/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://servicios/ClienteServiceWs/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://servicios/ClienteServiceWs/registrarClienteRequest" message="tns:registrarCliente"/>
<output wsam:Action="http://servicios/ClienteServiceWs/registrarClienteResponse" message="tns:registrarClienteResponse"/>
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://servicios/ClienteServiceWs/modificarClienteRequest" message="tns:modificarCliente"/>
<output wsam:Action="http://servicios/ClienteServiceWs/modificarClienteResponse" message="tns:modificarClienteResponse"/>
</operation>
</portType>
<binding name="ClienteServiceImplPortBinding" type="tns:ClienteServiceWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encontrarClienteId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteServiceImplService">
<port name="ClienteServiceImplPort" binding="tns:ClienteServiceImplPortBinding">
<soap:address location="http://localhost:9090/ClienteServiceImplService/ClienteServiceImpl"/>
</port>
</service>
</definitions>